# Backend
backend/target/
backend/.idea/
backend/*.iml
backend/src/main/resources/application.properties

# Frontend
frontend/node_modules/
frontend/build/
frontend/.env

# Zip files
*.zip

# OS
.DS_Store
__MACOSX/
{backend,frontend,chrome-extension,docs}/
